<style>
  .container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .message-box{
    height: 450px;
    width:90%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .scroll-to-bottom-button{
    transform: rotate(0deg);
    display: inline;
  }
  .messages{
    max-height:90%;
    overflow:auto;
  }
  .scroll-to-bottom-container{
    display: flex;
    justify-content: end;
  }
</style>

<div class="container">
  <div class="message-box">
    <div id="messages-container", class="messages">
      <%= render "messages"%>
    </div>
    <div class="scroll-to-bottom-container">
      <%= image_tag "down-scroll-arrow.png", size:"15x15", onclick:"scrollToBottom()" %>
    </div>
  </div>
  <div style="width:90%">
    <%= render "form" %>
  </div>
</div>

<script type="text/javascript">
  function scrollToBottom(){
    var elem = document.getElementById('messages-container');
    elem.scrollTop = elem.scrollHeight
  }
</script>
