<style>
  .grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px 10px;
  }
  .grid-item{
    border: 0.5px solid;
    border-radius: 10px;
    padding: 5px;
  }
  .grid-footer{
    margin-top: 20px;
    grid-area: f;
    text-align: center;
  }
  .image{
    width: 100px;
    height: 100px;
  }
</style>

<div class="grid-container">
  <% dishes.each do |item| %>
    <%= link_to class:"grid-item" do %>
      <div>
        <div align="center">
          <%= image_tag "no_image.png", class:"image" %>
        </div>
        <%= item.dish_name %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="grid-footer">
  <%= paginate dishes %>
</div>
