.price{
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  float: right;
  right: 5px;
  top: 5px;
  background: var(--price-background-color);
  padding: 4px;
  color: var(--price-color);
}
